._notice {
  position: absolute;
  z-index: $noticeZ;
  bottom: 0;

  right: 0;
  height: 2.5rem;
  padding: 0 1.25rem;
  background: $noticeBackground;
  box-shadow: inset 0 1px $noticeBorder;

  @media #{$mediumScreen} { left: $sidebarMediumWidth; }

  ._sidebar-hidden & { left: 0; }

  ~ ._container { padding-bottom: 2.5rem; }
}

._notice-text {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  height: 2.5rem;
  line-height: 1rem;
  font-size: .875rem;
}

._notice-link { cursor: pointer; }
