//= depend_on docs-1.png
//= depend_on docs-1@2x.png
//= depend_on docs-2.png
//= depend_on docs-2@2x.png
//= depend_on gnome-logo.svg

/*!
 * Copyright 2013-2018 Thibaut Courouble and other contributors
 *
 * This source code is licensed under the terms of the Mozilla
 * Public License, v. 2.0, a copy of which may be obtained at:
 * http://mozilla.org/MPL/2.0/
 */

@import 'global/variables-gnome',
  'global/mixins',
  'global/icons',
  'global/classes',
  'global/base';

@import 'components/app',
  'components/header-gnome',
  'components/notif',
  'components/sidebar',
  'components/settings',
  'components/content',
  'components/page',
  'components/fail',
  'components/path',
  'components/notice',
  'components/prism',
  'components/mobile';

@import 'pages/simple', 'pages/gir';


._app-container {
  display: flex;
  width: 100%;
  height: 100%;
}